@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:300');

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}


.left-bar {
  background-color: #E7ECEF;
  height: 150px;
  padding: 20px;
  color: white;
  width: 45%;
  height: 800px;
}

.left-bar h1 {
  font-size: 10em;
}
.right-bar {
  width: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphs {
  padding: 30px;
}

.ipsum {
  text-align: left
}

.ipsum:first-letter {
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}





