
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Oswald', sans-serif;  
  background-color: white;
  cursor: url('./cn.png'), auto;
  
}



.left-bar {
  background-image: url('./norm.jpg');
  background-size: 100%;
  height: 150px;
  padding: 20px;
  color: white;
  width: 45%;
  height: 850px;
  border: 8px solid #afafb4;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-bar p {
  margin-top: 230px;
  color: #bd233a;
}

.left-bar a {
  text-decoration: none;
  color: #bd233a;
}

.left-bar h1 {
  font-size: 10em;
  color: #afafb4;
  font-family: 'Vidaloka', serif;
  font-weight: 700;
}

.right-bar {
  width: 55%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  box-sizing: border-box;
}

.right-bar h2 {
  font-family: 'Vidaloka', serif;
  font-weight: 700;
  font-size: 3em;
  margin: 10px;
  color: #afafb4;
}

.generate {
  font-weight: 700;
  margin: 60px 0 20px 0;
  font-size: 1.3em;
  color: #bd233a;
}


.paragraphs {
  padding: 0 60px;
}

.ipsum {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
}

.ipsum:first-letter {
  text-transform: uppercase;
}


.divider {
  height: 2px;
  width: 80px;
  background: #bd233a;
  display: block;
  margin: 40px auto
}
.select-style {
  background: url('http://khaledipsum.com/img/caret.svg') no-repeat right 14px center;
  border: 1px solid #C7C7C7;
  width: 210px;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  margin: 0 auto 40px auto;
}

select {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;  
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.made-by {
  font-family: 'Oswald', sans-serif; 
  color: #afafb4;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
}

.made-by a {
  text-decoration: none;
  color: #afafb4;

}

footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}




