
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  cursor: url('./cn.png'), auto;
  
}



.left-bar {
  background-image: url('./norm.jpg');
  background-size: 100%;
  height: 150px;
  padding: 20px;
  color: white;
  width: 45%;
  height: 780px;
  border: 8px solid #afafb4;
  margin: 20px;
  display: flex;
  align-items: center;
}

.left-bar h1 {
  font-size: 10em;
  color: #afafb4;
  font-family: 'Abril Fatface', cursive;
}

.right-bar {
  width: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
}

.right-bar h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  margin: 10px;
  color: #474747
}

.generate {
  font-weight: 700;
  margin: 50px 0 0 0;
  font-size: 1.5em;
  color: #afafb4;
}


.paragraphs {
  padding: 0 60px;
}

.ipsum {
  text-align: left;
  font-size: 1.2em;
}

.ipsum:first-letter {
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.divider {
  height: 2px;
  width: 80px;
  background: #1A1917;
  display: block;
  margin: 40px auto
}
.select-style {
  background: url('http://khaledipsum.com/img/caret.svg') no-repeat right 14px center;
  border: 1px solid #C7C7C7;
  width: 210px;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  margin: 0 auto 40px auto;
}

select {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}





